@import "tailwindcss";

 
:root {
  --color-brand-primary: #D61C1C;   /* rojo principal */
  --color-brand-secondary: #13233A; /* azul oscuro */
  --color-brand-accent: #F3F4F6;    /* fondo claro */
  --color-text: #111;
  --color-bg: #fff;
}

.dark {
  --color-brand-primary: #EF4444;   /* rojo más claro */
  --color-brand-secondary: #1F2937; /* azul más neutro */
  --color-brand-accent: #111827;
  --color-text: #f3f4f6;
  --color-bg: #0a0a0a;
}

body {
 font-family: 'roboto', sans-serif;
 background-color: var(--color-bg);
 color: var(--color-text);
 transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .animate-slideDown {
    animation: slideDown 0.3s ease-in-out forwards;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
